<!DOCTYPE html>
<html>
  <head>
    <title>ShuffleMix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'custom' %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
  </head>

  <%# <body style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.wallpapersafari.com/97/19/FqREVJ.jpg);" class="h-full w-full"> %>
  <%# <body style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/premium-vector/3d-casino-chip-design-background-luxury-black-background-vector-illustration_29865-5935.jpg?w=900);" class="h-full w-full bg-cover"> %>
  <body style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('wallpaper.png') %>)" class="h-full w-full bg-cover">
  <%# <body class="h-full w-full bg-[#FFF7F8]"> %>
    <main class="container mx-auto px-5 ">
      <%= yield %>
    </main>
  </body>
</html>
